# dependencies
node_modules
/.pnp
.pnp.*

# testing
coverage

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
