@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Quicksand", sans-serif;
  --font-mono: "Fira Code", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 0px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0px);
  --font-serif: "Bitter", serif;
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.25rem;
  --background: oklch(0.986 0.0145 84.583);
  --foreground: oklch(0.2724 0.0177 57.4319);
  --card: oklch(0.9767 0.0241 84.5925);
  --card-foreground: oklch(0.2724 0.0177 57.4319);
  --popover: oklch(0.9767 0.0241 84.5925);
  --popover-foreground: oklch(0.2724 0.0177 57.4319);
  --primary: oklch(61.737% 0.158 48.981);
  --primary-foreground: oklch(0.986 0.0145 84.583);
  --secondary: oklch(0.8982 0.0222 84.5925);
  --secondary-foreground: oklch(0.375 0.0273 57.3103);
  --muted: oklch(0.9323 0.0147 84.5845);
  --muted-foreground: oklch(45.359% 0.03455 60.013);
  --accent: oklch(0.8637 0.0297 84.5908);
  --accent-foreground: oklch(0.375 0.0273 57.3103);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --border: oklch(0.821 0.0251 84.5928);
  --input: oklch(0.9187 0.0177 84.5887);
  --ring: oklch(0.6077 0.1417 51.2931);
  --chart-1: oklch(0.6867 0.141 53.254);
  --chart-2: oklch(0.8412 0.1595 104.0228);
  --chart-3: oklch(0.612 0.2028 359.9457);
  --chart-4: oklch(0.634 0.251 324.3136);
  --chart-5: oklch(0.506 0.2273 286.5665);
  --sidebar: oklch(0.9813 0.0193 84.5891);
  --sidebar-foreground: oklch(0.3041 0.0207 57.385);
  --sidebar-primary: oklch(0.6371 0.1492 51.204);
  --sidebar-primary-foreground: oklch(0.986 0.0145 84.583);
  --sidebar-accent: oklch(0.8775 0.0267 84.5929);
  --sidebar-accent-foreground: oklch(0.4044 0.03 57.2876);
  --sidebar-border: oklch(0.7842 0.0304 84.5861);
  --sidebar-ring: oklch(0.6077 0.1417 51.2931);
  --destructive-foreground: oklch(0.986 0.0145 84.583);
  --font-sans: "Quicksand", sans-serif;
  --font-serif: "Bitter", serif;
  --font-mono: "Fira Code", monospace;
  --spacing: 0.25rem;
  --letter-spacing: 0em;
  --tracking-normal: 0em;
  --shadow-offset-x: 0rem;
  --shadow-color: hsl(25, 15%, 20%);
  --shadow-opacity: 0.04;
  --shadow-blur: 0.25rem;
  --shadow-offset-y: 0.125rem;
  --shadow-2xs: 0rem 0.125rem 0.25rem 0rem hsl(25 15% 20% / 0.02);
  --shadow-xs: 0rem 0.125rem 0.25rem 0rem hsl(25 15% 20% / 0.03);
  --shadow-sm:
    0rem 0.125rem 0.25rem 0rem hsl(25 15% 20% / 0.04), 0rem 1px 2px -1px
    hsl(25 15% 20% / 0.03);
  --shadow:
    0rem 0.125rem 0.25rem 0rem hsl(25 15% 20% / 0.05), 0rem 1px 2px -1px
    hsl(25 15% 20% / 0.04);
  --shadow-md:
    0rem 0.1875rem 0.375rem 0rem hsl(25 15% 20% / 0.06), 0rem 2px 4px -1px
    hsl(25 15% 20% / 0.05);
  --shadow-lg:
    0rem 0.25rem 0.5rem 0rem hsl(25 15% 20% / 0.07), 0rem 4px 6px -1px
    hsl(25 15% 20% / 0.06);
  --shadow-xl:
    0rem 0.375rem 0.75rem 0rem hsl(25 15% 20% / 0.08), 0rem 8px 10px -1px
    hsl(25 15% 20% / 0.07);
  --shadow-2xl: 0rem 0.375rem 0.75rem 0rem hsl(25 15% 20% / 0.1);
}

.dark {
  --background: oklch(0.2398 0.0146 57.4941);
  --foreground: oklch(0.9323 0.0147 84.5845);
  --card: oklch(0.2724 0.0177 57.4319);
  --card-foreground: oklch(0.9323 0.0147 84.5845);
  --popover: oklch(0.2724 0.0177 57.4319);
  --popover-foreground: oklch(0.9323 0.0147 84.5845);
  --primary: oklch(0.6077 0.1417 51.2931);
  --primary-foreground: oklch(0.9663 0.0073 84.5699);
  --secondary: oklch(0.375 0.0273 57.3103);
  --secondary-foreground: oklch(0.8637 0.0297 84.5908);
  --muted: oklch(0.3247 0.0226 57.3596);
  --muted-foreground: oklch(0.7412 0.027 84.5889);
  --accent: oklch(0.4237 0.0317 57.2745);
  --accent-foreground: oklch(0.8637 0.0297 84.5908);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --border: oklch(0.471 0.036 57.2472);
  --input: oklch(0.375 0.0273 57.3103);
  --ring: oklch(0.6077 0.1417 51.2931);
  --chart-1: oklch(0.6867 0.141 53.254);
  --chart-2: oklch(0.8412 0.1595 104.0228);
  --chart-3: oklch(0.612 0.2028 359.9457);
  --chart-4: oklch(0.634 0.251 324.3136);
  --chart-5: oklch(0.506 0.2273 286.5665);
  --sidebar: oklch(0.2175 0.0125 57.5482);
  --sidebar-foreground: oklch(0.9323 0.0147 84.5845);
  --sidebar-primary: oklch(0.6371 0.1492 51.204);
  --sidebar-primary-foreground: oklch(0.9663 0.0073 84.5699);
  --sidebar-accent: oklch(0.4044 0.03 57.2876);
  --sidebar-accent-foreground: oklch(0.8982 0.0222 84.5925);
  --sidebar-border: oklch(0.4427 0.0335 57.2627);
  --sidebar-ring: oklch(0.6077 0.1417 51.2931);
  --destructive-foreground: oklch(0.9663 0.0073 84.5699);
  --radius: 0.25rem;
  --font-sans: "Quicksand", sans-serif;
  --font-serif: "Bitter", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: hsl(25, 15%, 5%);
  --shadow-opacity: 0.3;
  --shadow-blur: 0.375rem;
  --shadow-offset-y: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(25 15% 5% / 0.15);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(25 15% 5% / 0.18);
  --shadow-sm:
    0rem 0.25rem 0.5rem 0rem hsl(25 15% 5% / 0.25), 0rem 1px 2px -1px
    hsl(25 15% 5% / 0.2);
  --shadow:
    0rem 0.25rem 0.5rem 0rem hsl(25 15% 5% / 0.3), 0rem 1px 2px -1px
    hsl(25 15% 5% / 0.25);
  --shadow-md:
    0rem 0.25rem 0.5rem 0rem hsl(25 15% 5% / 0.35), 0rem 2px 4px -1px
    hsl(25 15% 5% / 0.3);
  --shadow-lg:
    0rem 0.3125rem 0.625rem 0rem hsl(25 15% 5% / 0.4), 0rem 4px 6px -1px
    hsl(25 15% 5% / 0.35);
  --shadow-xl:
    0rem 0.375rem 0.75rem 0rem hsl(25 15% 5% / 0.45), 0rem 8px 10px -1px
    hsl(25 15% 5% / 0.4);
  --shadow-2xl: 0rem 0.375rem 0.75rem 0rem hsl(25 15% 5% / 0.5);
}

.markdown a {
  color: var(--primary);
  text-decoration: none;
}
.markdown a:hover {
  color: color-mix(in oklab, var(--primary), var(--foreground) 40%);
}
.markdown a:active {
  color: var(--destructive);
}
.markdown a:focus {
  outline: 1px dotted var(--foreground);
}
.markdown a:hover,
.markdown a:active {
  outline: 0;
}

.markdown p {
  @apply my-4;
  color: var(--foreground);
}

.markdown img {
  @apply max-w-full;
  border: 0;
  vertical-align: middle;
  margin: auto auto 1rem auto;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: var(--font-serif);
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: var(--foreground);
}

.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: bold;
}

.markdown h1 {
  font-size: 2.5rem;
}
.markdown h2 {
  font-size: 2rem;
}
.markdown h3 {
  font-size: 1.5rem;
}
.markdown h4 {
  font-size: 1.2rem;
}
.markdown h5 {
  font-size: 1rem;
}
.markdown h6 {
  font-size: 0.9rem;
}

.markdown blockquote {
  color: var(--muted-foreground);
  margin: 0;
  padding-left: 1.5rem;
  border-left: 0.5rem solid var(--border);
  text-align: left;
}

.markdown hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--muted);
  margin: 1rem 0;
  padding: 0;
}

.markdown pre,
.markdown code,
.markdown kbd,
.markdown samp {
  font-family: var(--font-mono);
  font-size: 0.98em;
}

.markdown pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 12px;
  background: var(--muted);
  color: var(--muted-foreground);
  padding: 1rem;
  border-radius: var(--radius);
}

.markdown b,
.markdown strong {
  font-weight: bold;
  color: var(--foreground);
}

.markdown dfn {
  font-style: italic;
}

.markdown ins {
  background: var(--accent);
  text-decoration: none;
  color: var(--accent-foreground);
}

.markdown mark {
  background: var(--accent);
  font-style: italic;
  font-weight: bold;
  color: var(--accent-foreground);
}

.markdown sub,
.markdown sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.markdown sup {
  top: -0.5em;
}
.markdown sub {
  bottom: -0.25em;
}

.markdown ul,
.markdown ol {
  margin: 1rem 0;
  padding-left: 1rem;
  list-style-position: inside;
  color: var(--foreground);
}

@media (min-width: 460px) {
  .markdown ul,
  .markdown ol {
    padding-left: 2rem;
  }
}

.markdown ul {
  list-style-type: disc;
}
.markdown ol {
  list-style-type: decimal;
}

.markdown li p:last-child {
  margin: 0;
}

.markdown dd {
  margin-left: 2rem;
}

.markdown table {
  border-collapse: collapse;
  width: 100%;
  color: var(--foreground);
}

.markdown td {
  vertical-align: top;
}

@media (min-width: 0px) {
  .markdown {
    font-size: 14px;
    color: var(--foreground);
  }
}

@media (min-width: 768px) {
  .markdown {
    font-size: 16px;
    color: var(--foreground);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
