name: Deploy to GHCR

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-web:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push web image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .docker/web.prod.Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64

  build-and-push-ws:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ws image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .docker/ws.prod.Dockerfile
          push:  true
          tags:  |
            ghcr.io/${{ github.repository }}-ws:latest
            ghcr.io/${{ github.repository }}-ws:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64